<!-- To Add Image Later-->
    <!--<img [src]= "product.img" alt="{{product.name}}"/>-->
  
<app-product-filter (filterChanged)="updateFilter($event)"></app-product-filter>
<p></p>

<div class="products-container">
  <!--@for (product of products; track product.id)-->
  @for(product of filteredProducts; track product.id) {
    <div class="product">
      <h3>{{ product.name }}</h3>
      <p> Description: {{ product.description }}</p>
      <p> Price: {{ product.price }}</p>
      <p> Available: {{ product.quantity }}</p>
      <button 
        [disabled]="product.quantity === 0"
        (click)="addToCart(product)">
        {{ product.quantity > 0 ? 'Add to Cart' : 'Out of Stock' }}
      </button>
    </div>
  }
</div>


