<div class="cart-layout">
  <div class="product-section">
    <app-product-list></app-product-list>
  </div>


  <div class="cart-sidebar">
    <h2>Your Cart</h2>
    @for(item of cartService.getItems(); track item.id) {
      <div class="cart-item">
        <h3>{{ item.name }}</h3>
        <p> Price: {{ item.price }}</p>
        <p> Quantity: {{ item.quantity }}</p>
        <div class="cart-controls">
        <button class="delete-btn" (click)="deleteFromCart(item)"> Delete </button>
        <button class="qty-btn" (click)="cartService.incrementQuantity(item.id)">+</button>
        <button class="qty-btn" (click)="cartService.decrementQuantity(item.id)">-</button>
        </div>
      </div>
    }
    <div style = "padding: 20px">
        <h3> Total: {{cartService.getTotal()}}</h3>
      </div>
    <button class="checkout-btn">Proceed to Checkout</button>
  </div>
  
</div>


