<div class="card p-4">
  <h2 class="card-title">Your Cart</h2>
  @for(item of cartService.cartItems(); track item) {
  <div class="cart-item">
    <h3>{{ item.product.name }}</h3>
    <p> Price: {{ item.product.price }}</p>
    <p> Quantity: {{ item.quantity }}</p>
    <div class="d-flex gap-2 justify-content-end">
      <button class="btn btn-danger" (click)="deleteFromCart(item)"> Delete </button>
      <div class="d-flex gap-1">
        <button class="btn btn-secondary" (click)="cartService.incrementQuantity(item.product.id)">+</button>
        <button class="btn btn-secondary" (click)="cartService.decrementQuantity(item.product.id)">-</button>
      </div>
    </div>
  </div>
  }
  <div class="mt-4">
    <h3> Total: {{cartService.total() | currency}}</h3>
    <button class="btn btn-primary py-3 fw-bold mt-2 w-100">Proceed to Checkout</button>
  </div>
</div>