<div class="card p-4">
  <div class="d-grid gap-1" [style]="overflow ? 'height: 60vh; overflow-y: auto;' : ''">
    @for(item of cartService.cartItems(); track item) {
    <div class="cart-item">
      <div class="row" style='cursor: pointer;' [routerLink]="['/product', item.product.id]">
        <div class="col-3">
          <img [src]="item.product.img_url" alt="{{item.product.title}}" class="img-fluid">
        </div>
        <div class="col-9">
          <h3>{{ item.product.title }}</h3>
          <p> Price: {{ item.product.price | currency }}</p>
          <p> Quantity: {{ item.quantity }}</p>
        </div>
      </div>
      <!-- Change quantity -->
      <div class="mt-1 d-flex gap-2 justify-content-end">
        <button class="btn btn-danger" (click)="deleteFromCart(item)"> Delete </button>
        <div class="d-flex gap-1">
          <button class="btn btn-secondary" (click)="cartService.incrementQuantity(item.product.id)">+</button>
          <button class="btn btn-secondary" (click)="cartService.decrementQuantity(item.product.id)">-</button>
        </div>
      </div>
    </div>
    }
  </div>

  <hr />

  <div class="mt-2">
    <h3> Total: {{cartService.total() | currency}}</h3>
    <button class="btn btn-primary py-3 fw-bold mt-2 w-100" [class]="cartService.total() === 0 ? 'd-none' : ''">Proceed
      to Checkout</button>
  </div>
</div>