<div class="container py-3">
  <div class="row row-gap-2">
    <div class="col-md-7">
      <div class="card">
        <div class="card-header text-center">
          <h3>Checkout</h3>
        </div>

        <div class="card-body">
          <h3 class="text-center">Shipping Address</h3>
          <app-address-form [address]="shippingAddress"></app-address-form>

          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="sameAsShipping" [(ngModel)]="shippingSameAsBilling" />
            <label class="form-check-label" for="sameAsShipping">Billing address same as shipping</label>
          </div>

          @if(!shippingSameAsBilling){
          <hr />
          <h3 class="text-center">Billing Address</h3>
          <app-address-form [address]="billingAddress"></app-address-form>}

          <hr />
          <h3 class="text-center">Payment Information</h3>
          <div class="mb-3">
            <label for="cardNumber" class="form-label">Card Number</label>
            <input type="text" class="form-control" id="cardNumber" [(ngModel)]="paymentInfo.cardNumber"
              placeholder="1234 5678 9012 3456" />
          </div>
          <div class="mb-3">
            <label for="cardName" class="form-label">Name on Card</label>
            <input type="text" class="form-control" id="cardName" [(ngModel)]="paymentInfo.cardName"
              placeholder="John Doe" />
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="expiryDate" class="form-label">Expiry Date</label>
              <input type="text" class="form-control" id="expiryDate" [(ngModel)]="paymentInfo.expiryDate"
                placeholder="MM/YY" />
            </div>
            <div class="col-md-6 mb-3">
              <label for="cvv" class="form-label">CVV</label>
              <input type="text" class="form-control" id="cvv" [(ngModel)]="paymentInfo.cvv" placeholder="123" />
            </div>
          </div>
        </div>
      </div>
      @if (total > 0) {
      <div class="text-center"><button class="btn btn-primary mt-3" (click)="placeOrder()">Complete Order</button></div>
      }
    </div>
    <div class="col-md-5 order-first order-md-last">
      <div class="card">
        <div class="card-header text-center">
          <h3>Cart Summary</h3>
        </div>
        <div class="card-body">
          <!-- Example Cart Summary -->
          @for (item of items; track item) {
          <div class="d-flex justify-content-between">
            <span>{{item.quantity}} x {{item.product.title}}</span>
            <span>{{item.product.price | currency}}</span>
          </div>}

          <hr />

          <div class="mt-3 d-flex justify-content-between">
            <strong>Total:</strong>
            <strong>{{total | currency}}</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>