<div class="container mt-4" *ngIf= "shippingAddress">
  <h3>Order Summary</h3>

  <h5>Shipping Address</h5>
  <p>
    {{ shippingAddress.fullName }}<br />
    {{ shippingAddress.street }}, {{ shippingAddress.city }}<br />
    {{ shippingAddress.state }}, {{ shippingAddress.zip }}<br />
    {{ shippingAddress.country }}
  </p>

  <h5>Items:</h5>
  <ul>
    <li *ngFor= "let item of cartItems">
      {{ item.product.name }} x {{ item.quantity }} = ${{ item.product.price * item.quantity }}
    </li>
  </ul>

  <h4>Total: ${{ total }}</h4>

  <button class="btn btn-primary" (click)="placeOrder()">Place Order</button>
</div>
