<!-- <div class="card p-4 text-decoration-none" style="cursor: pointer" [routerLink]="['/product', product.id]"> -->
<div class="card p-4 text-decoration-none">

  <a class="text-reset text-decoration-none fs-3 fw-bold" [routerLink]=" ['/product', product.id]">
    {{ product.title }}
  </a>
  <hr />
  <p> Description: {{ product.description }}</p>
  <p> Price: {{ product.price }}</p>
  <p> Stock: {{ product.stock }}</p>
  <button class="fw-bold btn btn-primary" [disabled]="product.stock === 0" (click)="addToCart()">
    {{ product.stock > 0 ? 'Add to Cart' : 'Out of Stock' }}
  </button>
</div>