<div class="container py-3">
    <div class="row gx-5">
        <div class="col-12 col-lg-8">
            <div class="mb-3 d-flex-row d-md-flex justify-content-between">
                <div class="me-4">
                    <app-product-search (searchChanged)="searchEvent($event)"></app-product-search>
                </div>
                <div>
                    <app-product-filter (filterChanged)="categoryEvent($event)"></app-product-filter>
                </div>
            </div>
            <app-product-list [products]="products()"></app-product-list>
        </div>
        <div class="d-none d-lg-block col-lg-4">
            <app-cart class="sticky-top" style="top: 10px" [overflow]="true"></app-cart>
        </div>
    </div>
</div>