<div class="w-100 row row-gap-3">
    <div class="col-12 col-lg-6 image">
        <div class="row text-white p-4">
            <div class="col-12 col-md-6">
                <h1 class="fw-bold">Living Aura</h1>
                <p class="fs-5">Explore the variety our collection has to offer:</p>
                <div class="d-flex gap-2">
                    <button class="fs-5 btn btn-primary fw-bold" [routerLink]="['/products']">Sales/Offers</button>
                    <button class="fs-5 btn btn-primary fw-bold" [routerLink]="['/products']">Shop Now</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <h2 class="text-center mt-2">Browse Our Collection</h2>

        <app-product-list [products]="displayProducts.slice(0,2)"></app-product-list>
    </div>
</div>

<hr class="my-4" />

<div class="w-100 px-2 mt-2 row row-gap-3">
    <div class="col-12 col-md-6 col-lg-3">
        <h2 class="text-center">New Arrivals</h2>
        <app-product-card [product]="displayProducts[2]"></app-product-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <h2 class="text-center">Popular Picks</h2>
        <app-product-card [product]="displayProducts[3]"></app-product-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <h2 class="text-center">Spring Aura</h2>
        <app-product-card [product]="displayProducts[4]"></app-product-card>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
        <h2 class="text-center">Home Office</h2>
        <app-product-card [product]="displayProducts[5]"></app-product-card>
    </div>
</div>